*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url("../images/header_bg.png");
    background-position: top left,bottom right;
    background-repeat: no-repeat;
background-size: auto 100%,auto;
    padding-top: 50px;
    
}

nav{
    width: 65%;
    max-width: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
/* siyam text as logo  */
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
/* button color  */
.color-orange{
    color: #FD6E0A;
}
/* button contact me  */
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* #banner{
     margin: auto; 
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
 #banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  max-width: 1100px;
  margin: 60px auto 0 auto;
  padding: 0 20px;

}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    color: #474747;
font-size: 45px;
font-family: Open Sans;
font-weight: 600;
margin: 5px;
}
#banner .banner-content h1{
    color: #181818;
font-size: 85px;
font-family: Open Sans;
font-weight: 700;
margin-bottom: 20px;
}
#banner .banner-content p{
color: #757575;
font-size: 18px;
font-family: Open Sans;
font-weight: 400;
line-height: 30px;
margin-bottom: 20px;
}
#banner .banner-image{
    width: 100%;
    max-width: 400px;
    /* vertical-align: middle; */
}

#about{
    padding-top: 130px;
}
#about .about-conatiner{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-conatiner .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#skills{
    padding: 120px;
}
#skills .skills-container {
    width: 71%;
    /* margin-top: 130px; */
    max-width: 1140px;
    margin: 0 auto;
    
    
}
#skills .skills-container .skills-box
{
    display: flex;
    gap: 24px;

}
.skills-box .skill-card{
    padding: 30px;
    border: 1px solid red;
    max-width: 267px;
    /* max-height: 377px; */
    background: white;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06); 
     border-radius: 5px

}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h2{
    margin-bottom: 20px;
    font-size: 20px;
}
.skill-card p{
    line-height: 30px;
    color: #757575;
}

/* education and resume */

#education .section-heading{
    margin-bottom: 113px;
}
.education-container{
    display: flex;
    /* justify-content: space-around; */
    /* width: 1140px; */
}
#education .education-container .my-education,my-experience p{
    width: 1140px;
    margin-right: 277px;
}
.my-education{
    margin-left: 230px;
    padding: 40px;
}
.my-experience{
    margin-right: 200px;
}
.my-education,.my-experience h3,h4,p{
    padding: 8px;
}
#education  .education-tittle{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 30px;
    
}
 .btn-cv{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;


}

footer{
    background-color: #FFF8F3;
}
#footer-connect{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 1000px;
    /* padding: 20px; */
}
#footer-connect .socials p{
    max-width: 500px;
}
#footer-connect .socials img{
    
    margin-right: 15px;
}
.form img{
    width: 40px;   /* change this value */
    height: auto;
    margin-left: 110px;
    margin-top: 20px;
}
.form img{
    width: 40px;
    filter: brightness(0) saturate(100%) invert(53%) sepia(90%) saturate(600%) hue-rotate(350deg);
}